//resource for card: https://codepen.io/peopleoff/pen/KaZbbo

.cardLink {
  text-decoration: none;
}
.card {
  background: $true-white;
  border-radius: 0.5em;
  min-height: 400px;
  width: 25%;
  -webkit-transition: 0.6s all ease;
  -moz-transition: 0.6s all ease;
  -ms-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  transition: 0.6s all ease;
  margin: 1em;
  margin-left: 0;
  a {
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .cardTop {
    min-height: 224px;
    border-radius: 0.5em 0.5em 0em 0em;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
    height: 65%;
  }

  .cardBottom {
    height: 35%;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    transition: 0.4s all ease;
  }

  .cardText {
    min-height: 100%;
    padding: 1.25rem;
  }

  .cardTitle {
    font-family: "Aileron-Semibold", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 108%;
  }

  .cardInfo {
    padding-top: 1em;
    font-family: $inter;
    font-size: 0.875em;
    font-weight: 500;
    color: $dark-gray;
  }

  .cardProjectTags {
    color: $secondary-tan;
    font-family: "Aileron-Semibold", sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 2em;
  }

  /* Focus and Hover effects */
  &:focus,
  &:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    .cardBottom {
      -webkit-transition: 0.4s all ease;
      -moz-transition: 0.4s all ease;
      -ms-transition: 0.4s all ease;
      -o-transition: 0.4s all ease;
      transition: 0.4s all ease;
      opacity: 1;
    }
    .cardTop {
      -webkit-transition: 0.4s all ease;
      -moz-transition: 0.4s all ease;
      -ms-transition: 0.4s all ease;
      -o-transition: 0.4s all ease;
      transition: 0.4s all ease;
      opacity: 0.8;
    }
  }
}

//thumbnails
#timeless {
  .cardTop {
    background: url("../assets/img/timeless-thumbnail.png") no-repeat;
    background-origin: padding-box;
    background-position: center;
    background-size: cover;
  }
}

#tnt {
  .cardTop {
    background: url("../assets/img/tnt-thumbnail.png") no-repeat;
    background-origin: padding-box;
    background-position: center;
    background-size: cover;
  }
}

#notes {
  .cardTop {
    background: url("../assets/img/notes-thumbnail.png") no-repeat;
    background-origin: padding-box;
    background-position: center;
    background-size: cover;
  }
}
