$primary-purp: #3d3bb3;
$primary-hover: #25236b;
$secondary-tan: #aa5f40;
$off-white: #eeeff1;
$white: #fcfcfc;
$true-white: #fff;
$black: #192029;
$dark-gray: #535a65;
$gray: #627084;
$d-accent: #f3bd5e;

h1,
h2,
h3,
h4,
h5,
p {
  color: $black;
}
