body {
  #contact {
    width: 100%;
    padding: 2em 6em;
    background: $primary-purp;

    h3,
    p {
      color: $true-white;
    }

    #contact-info-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      list-style-type: none;

      .contact-item {
        transform: scale(0.75);

        img {
          filter: contrast(125%);

          &:hover {
            border-radius: 100%;
            -webkit-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -moz-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -ms-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -o-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -webkit-transition: 0.4s all ease;
            -moz-transition: 0.4s all ease;
            -ms-transition: 0.4s all ease;
            -o-transition: 0.4s all ease;
            transition: 0.4s all ease;
          }
        }
      }
    }
  }
}