@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700");

@font-face {
  font-family: "Aileron-Black";
  src: url("build/assets/fonts/Aileron-Black.otf");
}

@font-face {
  font-family: "Aileron-Bold";
  src: url("build/assets/fonts/Aileron-Bold.otf");
}

@font-face {
  font-family: "Aileron-Semibold";
  src: url("build/assets/fonts/Aileron-Semibold.otf");
}

@font-face {
  font-family: "Aileron-Regular";
  src: url("build/assets/fonts/Aileron-Regular.otf");
}

$inter: "Inter", sans-serif;

h1 {
  font-size: 4rem;
  font-family: "Aileron-Black", sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: "Aileron-Bold", sans-serif;
}

h3 {
  font-size: 2.5rem;
  font-family: "Aileron-Semibold", sans-serif;
}

h4 {
  font-size: 2rem;
  font-family: "Aileron-Semibold", sans-serif;
}

h5 {
  font-size: 1.5rem;
  font-family: "Aileron-Regular", sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  font-family: $inter;
}

a {
  color: $primary-blue;
}

li {
  font-size: 1.125rem;
  font-family: $inter;
}

//project TOC fonts
body {
  .project-container {
    .project-subtitle {
      p {
        color: $dark-gray;
      }
    }
    .project-toc {
      position: sticky;
      top: 0;
      height: 100vh;
      box-sizing: border-box;
      padding-top: 1em;

      p {
        font-family: "Aileron-Semibold", sans-serif;
        font-size: 0.75rem;
        color: $dark-gray;
        text-transform: uppercase;
        padding-bottom: 2em;
      }
      //active state is $primary-blue

      .project-toc-process {
        li {
          color: $gray;
          padding-bottom: 0.75em;
          font-size: 1rem;
        }
      }
    }
  }
}
