@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700");

@font-face {
  font-family: "Aileron-Black";
  src: url("build/assets/fonts/Aileron-Black.otf");
}

@font-face {
  font-family: "Aileron-Bold";
  src: url("build/assets/fonts/Aileron-Bold.otf");
}

@font-face {
  font-family: "Aileron-Semibold";
  src: url("build/assets/fonts/Aileron-Semibold.otf");
}

@font-face {
  font-family: "Aileron-Regular";
  src: url("build/assets/fonts/Aileron-Regular.otf");
}

$inter: "Inter", sans-serif;

* {
  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 4rem;
  font-family: "Aileron-Black", sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: "Aileron-Bold", sans-serif;
}

h3 {
  font-size: 2.5rem;
  font-family: "Aileron-Semibold", sans-serif;
}

h4 {
  font-size: 2rem;
  font-family: "Aileron-Semibold", sans-serif;
}

h5 {
  font-size: 1.5rem;
  font-family: "Aileron-Regular", sans-serif;
  text-transform: uppercase;
}

p,
ol,
ul,
li,
details,
details > summary,
details > p details[open] > summary {
  font-size: 1rem;
  font-family: $inter;
  padding-bottom: 1em;
  color: $black;
  .summary-subtitle {
    font-weight: 700;
    margin: 0 1em;
  }
}

a {
  color: $primary-blue;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $primary-hover;
    text-decoration: underline;
  }
}

//project TOC fonts
body {
  .project-container {
    .project-subtitle {
      p {
        color: $dark-gray;
        padding-bottom: 0.25em;
      }
    }
    .project-toc {
      counter-reset: ol-num-counter;

      p {
        font-family: "Aileron-Semibold", sans-serif;
        font-size: 0.75rem;
        color: $dark-gray;
        text-transform: uppercase;
        padding-bottom: 2em;
      }

      .project-toc-process {
        list-style: none;
        counter-reset: ol-num-counter;

        li {
          font-size: 1.125rem;
          font-family: $inter;
          padding-bottom: 1em;
          counter-increment: ol-num-counter;
          &:before {
            content: counter(ol-num-counter) ". ";
            font-size: 1rem;
            color: $gray;
          }
          a {
            color: $gray;
            margin-bottom: 0.75em;
            font-size: 1rem;
            &:hover,
            &:focus {
              color: $black;
            }
          }
        }
      }
    }
  }
  .project-contents {
    .image-holder {
      .caption {
        color: $dark-gray;
        font-size: 0.8125rem; //13px
        line-height: 1.5;
      }
    }
  }
}
