@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700");

@font-face {
  font-family: "Aileron-Black";
  src: url("build/assets/fonts/Aileron-Black.otf");
}

@font-face {
  font-family: "Aileron-Semibold";
  src: url("build/assets/fonts/Aileron-Semibold.otf");
}

@font-face {
  font-family: "Aileron-Regular";
  src: url("build/assets/fonts/Aileron-Regular.otf");
}

$inter: "Inter", sans-serif;

h1 {
  font-size: 64px;
  font-family: "Aileron-Black", sans-serif;
}

h2 {
  font-size: 48px;
  font-family: "Aileron-Black", sans-serif;
}

h3 {
  font-size: 40px;
  font-family: "Aileron-Semibold", sans-serif;
}

h4 {
  font-size: 32px;
  font-family: "Aileron-Semibold", sans-serif;
}

h5 {
  font-size: 24px;
  font-family: "Aileron-Regular", sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-family: $inter;
}

li {
  font-size: 18px;
  font-family: $inter;
}
