body {
  .project-container {
    .project-toc {
      position: sticky;
      top: 8em;
      align-self: start;
      height: 100vh;
      box-sizing: border-box;
      padding-top: 1em;
    }

    .project-contents {
      p {
        line-height: 1.5;
      }

      h2 {
        padding-bottom: 0.25em;
      }

      .project-title {
        padding-bottom: 0.25em;
        line-height: 1;
      }

      .project-subtitle {
        padding-bottom: 3em;
      }

      .project-section {
        padding-bottom: 2em;
      }

      .highlight {
        background-color: $d-accent;
      }

      .image-holder {
        padding: 1.5em 0;
        max-width: fit-content;
        text-decoration: none;

        img {
          max-width: 75%;
          height: auto;
          border-radius: 4px;
          text-decoration: none;

          &:focus {
            border: 8px solid $primary-purp;
          }

          &:hover {
            filter: opacity(0.8);
          }
        }
      }

      details {
        background-color: $off-white;
        margin: 1em;
        margin-left: 0;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        transition: 0.4s all ease;

        summary,
        ul,
        ol,
        p {
          width: fit-content;
          padding-top: 1em;
          padding-left: 1em;
          margin: 0 1em;

          li {
            .image-holder {
              width: 100%;
              height: auto;

              img {
                width: 100%;
                height: auto;
                padding-top: 0.5em;
              }
            }
          }
        }

        ul,
        ol {
          padding-left: 2.5em;
        }

        a {
          overflow-wrap: anywhere;
        }

        .image-holder {
          padding: 2em;

          .caption {
            width: 100%;
            padding: 0 0 1.5em 0;
            margin: 0;
          }
        }

        &:hover {
          cursor: pointer;
          filter: brightness(0.85);
        }

        &:open {
          background-color: $off-white;
        }
      }

      details>summary {
        &:first-of-type {
          padding-bottom: 0;
        }
      }

      .iframe-holder {
        //resource for full-width iframe https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/"
        position: relative;
        padding-top: 56.25%;
        background-color: $true-white;
        margin: 1em;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-left: 0.5em;
        }
      }

      .image-holder {
        padding: 2em 2em 2em 0;

        img {
          width: 90%;
        }

        .caption {
          width: 100%;
          padding: 0 0 1.5em 0;
          margin: 0;
        }
      }
    }
  }
}