//universal across all screen sizes
body {
  background: $true-white;

  #intro {
    #alice {
      color: $primary-blue;
    }
  }

  #projects {
    background: #f4f5f6;
    width: 100%;
  }

  #project-background {
    padding: 2em 6em;
  }
}

footer {
  padding: 0 5em;
  p {
    color: $dark-gray;
  }
}

//XXL - 4K, 1281+, my computer is 1366x768 resolution
@include mediaXXL {
  body {
    #intro,
    #contact {
      padding: 4em 6em;
    }
    #projects {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1em 6em;

      .card {
        width: 25%;
      }
    }
    .project-container {
      .project-contents {
        p,
        ol,
        ul,
        details {
          width: 35em;
        }
      }
    }
  }
}

//XL - large laptop, widescreen, 1025 to 1280
@include mediaXL {
  body {
    #intro,
    #contact,
    footer {
      padding: 4em 6em;
      width: 85%;
    }
    #projects {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1em 6em;

      .card {
        width: 30%;
      }
    }
    .project-container {
      .project-contents {
        .image-holder {
          padding: 1em 0;
        }
        details {
          .image-holder {
            padding: 0.5em 2em;
          }
        }
        p,
        ol,
        ul,
        details {
          width: 35em;
        }
      }
    }
  }
}

//Lg - desktop, 768 to 1024
@include mediaLg {
  body {
    header {
      #navbar {
        padding: 1em 3em;
      }
    }
    #intro,
    #contact,
    footer {
      padding: 2em 4em;
    }
    #projects {
      padding: 2em 4em;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;

      .card {
        width: 30%;
      }
    }
    .project-container {
      padding: 4em 2em;
      column-gap: 0.25em;

      .project-toc {
        padding: 0;

        .project-toc-process {
          li {
            font-size: 0.75rem;
            overflow-wrap: break-word;
            padding-bottom: 2em;
          }
        }
      }

      .project-contents {
        .image-holder {
          padding: 1em 0;
        }
        details {
          width: 30em;

          .image-holder {
            padding: 1em 2em;
          }
        }
        p,
        ol,
        ul {
          width: 30em;
        }
      }
      .project-section {
        overflow-wrap: break-word;
      }
    }
  }
}

//Md - tablet, small laptops, 481 to 767px
@include mediaMd {
  body {
    header {
      #navbar {
        padding: 1em 2em;
      }
    }
    #intro,
    #contact {
      padding: 2em 3em;
      width: 90%;
    }
    #projects {
      padding: 2em 3em;

      .card {
        width: 80%;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
    #contact {
      #contact-info-list {
        .contact-item {
          transform: scale(0.9);
        }
      }
    }
    footer {
      padding-left: 2em;
    }
    .project-container {
      padding: 4em 2em;
      column-gap: 0;

      .project-toc {
        padding: 0;

        .project-toc-process {
          li {
            font-size: 0.75rem;
            overflow-wrap: break-word;
            padding-bottom: 2em;
          }
        }
      }

      .project-contents {
        .image-holder {
          padding: 1em 0;
        }
        details {
          .image-holder {
            padding: 1em 2em;
          }
        }
      }

      .project-section {
        overflow-wrap: break-word;
      }
    }
  }
}

//This part is for project container
@media only screen and (min-width: 481px) and (max-width: 600px) {
  body {
    .project-container {
      display: block;
      padding: 2em;

      .project-contents {
        .project-title {
          font-size: 3rem;
        }

        .image-holder {
          padding: 1em 0;
        }

        details {
          .image-holder {
            padding: 0 0 0 1em;
          }
        }
      }

      .project-toc {
        display: none;
      }

      .project-section {
        overflow-wrap: break-word;
      }
    }
  }
}

//540px width is to accommodate Surface Pro and smaller width. This part is mostly for navbar
@media only screen and (max-width: 540px) {
  body {
    header {
      #navbar {
        width: 100%;
        .nav-items-list,
        .name-badge {
          display: none;
        }

        &.show {
          min-height: 15.5em;
          display: block;

          .nav-items-list {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            .nav-item {
              padding-top: 1.5em;
            }
          }
          .name-badge {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

//the hamburger will disappear when this condition is met
@media only screen and (min-width: 541px) {
  body {
    header {
      .menu-btn {
        display: none;
      }
    }
  }
}

//Sm - mobile phones, max width 480
@include mediaSm {
  body {
    #intro {
      padding: 1em 2em;
    }
    #projects {
      padding: 2em;

      .card {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1em;
      }
    }
    #contact {
      padding: 2em;
      #contact-info-list {
        justify-content: space-between;
        .contact-item {
          transform: scale(0.85);
        }
      }
    }
    footer {
      padding-left: 2em;
    }
    .project-container {
      display: block;
      padding: 2em;

      .project-contents {
        .project-title {
          font-size: 3rem;
        }

        .project-title,
        .project-subtitle {
          overflow-wrap: break-word;
        }

        .image-holder {
          padding: 1em 0;
        }

        details {
          .image-holder {
            padding: 0 0 0 1em;
          }
        }
      }

      .project-toc {
        display: none;
      }

      .project-section {
        overflow-wrap: break-word;
        h2 {
          letter-spacing: -0.5px;
        }
      }
    }
  }
}
