//universal across all screen sizes
body {
  background: $true-white;

  #intro {
    #alice {
      color: $primary-blue;
    }
  }

  #projects {
    background: #f4f5f6;
    width: 100%;
  }

  #project-background {
    padding: 2em 6em;
  }
  #contact {
    #contact-info-list {
      margin-top: 1em;
      margin-bottom: 4em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      list-style-type: none;

      .contact-item {
        transform: scale(0.75);
        img {
          filter: contrast(125%);
          &:hover {
            border-radius: 100%;
            -webkit-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -moz-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -ms-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -o-box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            box-shadow: 0 5px 15px rgba(0, 42, 105, 0.6);
            -webkit-transition: 0.4s all ease;
            -moz-transition: 0.4s all ease;
            -ms-transition: 0.4s all ease;
            -o-transition: 0.4s all ease;
            transition: 0.4s all ease;
          }
        }
      }
    }
  }
  .project-container {
    .project-toc {
      position: sticky;
      top: 8em;
      align-self: start;
      height: 100vh;
      box-sizing: border-box;
      padding-top: 1em;
    }
    .project-contents {
      .highlight {
        background-color: $d-accent;
      }
      .image-holder {
        padding: 1.5em 0;
        max-width: fit-content;
        text-decoration: none;
        img {
          max-width: 75%;
          height: auto;
          border-radius: 4px;
          text-decoration: none;
          &:focus {
            border: 8px solid $primary-blue;
          }
          &:hover {
            filter: opacity(0.8);
          }
        }
      }
      details {
        background-color: $off-white;
        margin: 1em;
        margin-left: 0;
        -webkit-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -ms-transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        transition: 0.4s all ease;
        summary,
        ul,
        ol,
        p {
          padding-top: 1em;
          padding-left: 1em;
          margin: 0 1em;
          li {
            .image-holder {
              width: 100%;
              height: auto;
              img {
                width: 100%;
                height: auto;
                padding-top: 0.5em;
              }
            }
          }
        }
        ul,
        ol {
          padding-left: 2.5em;
        }
        .image-holder {
          padding: 2em;
          .caption {
            padding: 0 0 1.5em 0;
            margin: 0;
          }
        }
        &:hover {
          cursor: pointer;
          filter: brightness(0.85);
        }
      }
      details > summary {
        &:first-of-type {
          padding-bottom: 0;
        }
      }
      .iframe-holder {
        //resource for full-width iframe https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/"
        position: relative;
        padding-top: 56.25%;
        background-color: $true-white;
        margin: 1em;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-left: 0.5em;
        }
      }
      .image-holder {
        padding: 2em 2em 2em 0;
        img {
          min-width: 90%;
        }
        .caption {
          padding: 0 0 1.5em 0;
          margin: 0;
        }
      }
    }
  }
}

footer {
  padding: 0 5em;
  p {
    color: $dark-gray;
  }
}

//XXL - 4K
@include mediaXXL {
  body {
    #intro,
    #contact {
      padding: 4em 6em;
      width: 90%;
    }
    #projects {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1em 6em;

      .card {
        width: 25%;
      }
    }
  }
}

//XL - large laptop, widescreen, 1025 to 1280
@include mediaXL {
  body {
    #intro,
    #contact,
    footer {
      padding: 4em 6em;
      width: 85%;
    }
    #projects {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1em 6em;

      .card {
        width: 30%;
      }
    }
  }
}

//Lg - desktop, 768 to 1024
@include mediaLg {
  body {
    header {
      #navbar {
        padding: 1em 3em;
      }
    }
    #intro,
    #contact,
    footer {
      padding: 2em 4em;
    }
    #projects {
      padding: 2em 4em;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;

      .card {
        width: 30%;
      }
    }
  }
}

//Md - tablet, small laptops, 481 to 767px
@include mediaMd {
  body {
    header {
      #navbar {
        padding: 1em 2em;
      }
    }

    #intro,
    #contact {
      padding: 2em 3em;
      width: 90%;
    }
    #projects {
      padding: 2em 3em;

      .card {
        width: 80%;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
    #contact {
      #contact-info-list {
        .contact-item {
          transform: scale(0.9);
        }
      }
    }
    footer {
      padding-left: 2em;
    }
  }
}

//540px width is to accommodate Surface Pro and smaller width. This part is mostly for navbar
@media only screen and (max-width: 540px) {
  body {
    header {
      #navbar {
        width: 100%;
        .nav-items-list,
        .name-badge {
          display: none;
        }

        &.show {
          min-height: 15.5em;
          display: block;

          .nav-items-list {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            .nav-item {
              padding-top: 1.5em;
            }
          }
          .name-badge {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

//the hamburger will disappear when this condition is met
@media only screen and (min-width: 541px) {
  body {
    header {
      .menu-btn {
        display: none;
      }
    }
  }
}

//Sm - mobile phones, max width 480
@include mediaSm {
  body {
    #intro {
      padding: 1em 2em;
    }
    #projects {
      padding: 2em;

      .card {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1em;
      }
    }
    #contact {
      padding: 2em;
      #contact-info-list {
        justify-content: space-between;
        .contact-item {
          transform: scale(0.85);
        }
      }
    }
    footer {
      padding-left: 2em;
    }
  }
}
